html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  position: relative;
  height: 100%;
  color: #181818;
  background: #181818;
}

body.night {
  background-color: #181818 !important;
}

div {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

img.logo {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 120px;
  transform: translate(-50%,-50%);
}

strong {
  position: absolute;
  text-align: center;

  left: 0; top: 50%;
  transform: translate(0,-50%);
  width: 100%;
  font-size: 12vw;

  font-weight: 100;
}

span {
  position: absolute;
  display: block;
  font-size: 15px;
  left: 25px; bottom: 25px; right: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  opacity: .5;
}
